.about-company {
  padding-top: 57px;
  padding-bottom: 45px;
  &__title {
    margin: 0 0 32px 0;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    p {
      position: relative;
      width: calc(~"100% - 202px");
      background-color: #505f73;
      padding: 7px 25px 7px 65px;
      font-size: 37px;
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      &::before {
        content: '';
        border: 28px solid transparent;
        border-left: 16px solid #ffffff;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    img {
      display: inline-block;
      margin: 0 5px 0 0;
      vertical-align: middle;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__backside {
    width: 45%;
    background: url("../images/about-company/about-company-bg.png") no-repeat 0 6px;
  }
  &__content {
    display: inline-block;
    width: 53.5%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 19px;
    color: #000000;
    float: right;
    p {
      padding: 0;
      margin: 0 0 20px 0;
    }

    ul {
      padding: 0;
      margin: 0 0 20px 0;
      list-style-type: none;
    }
  }
}

@media all and (max-width: 320px) {
  .about-company {
    padding-top: 15px;
    padding-bottom: 8px;
    &__title {
      margin-bottom: 3px;
      p {
        width: calc(~"100% - 133px");
        padding: 7px 25px 7px 33px;
        font-size: 13px;
        &::before {
          border: 14px solid transparent;
          border-left: 8px solid #ffffff;
        }
      }
      img {
        width: 56px;
        margin: 0;
      }
    }

    &__backside {
      display: none;
    }
    &__content {
      width: calc(~'100% - 70px');
      padding-left: 57px;
      p {
        font-size: 10px;
        margin-bottom: 5px;
      }
      ul {
        font-size: 10px;
        margin-bottom: 5px;
      }
    }
  }
}