.call-request {
  padding-left: 80px;
  background: url(../images/call-request/phone-icon-main.png) no-repeat center left;
  p {
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: #505F73;
    white-space: nowrap;
  }
  a {
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #ff5c00;
  }

  &_header {
    margin-top: 15px;
    margin-left: 15px;
    p {
      margin: 12px 0 9px 15px;
    }
    a {
      margin-left: 15px;
    }
  }
  &_footer {
    margin-bottom: 20px;
    display: inline-block;
    width: 300px;
    text-align: left;
    p {
      margin: 0 0 6px 15px;
    }
    a {
      text-align: left;
      margin-left: 17px;
    }
  }

  &_equipment {
    background: url(../images/call-request/phone-icon-equipment.png) no-repeat center left;
    p {
      color: #d67e29;
    }
    a {
      color: #505f73;
    }
  }
  &_sleeves {
    background: url(../images/call-request/phone-icon-sleeves.png) no-repeat center left;
    p {
      color: #4477b9;
    }
    a {
      color: #ff5c00;
    }
  }
  &_hydraulic {
    background: url(../images/call-request/phone-icon-hydraulic.png) no-repeat center left;
    p {
      color: #2d4691;
    }
    a {
      color: #ff5c00;
    }
  }
  &_mechanization {
    background: url(../images/call-request/phone-icon-mechanization.png) no-repeat center left;
    p {
      color: #cb5329;
    }
    a {
      color: #516073;
    }
  }

}
