.call-request {
  width: 400px;
  white-space: nowrap;
  &__icon {
    display: inline-block;
    padding: 0;
    margin-left: 0;
    border: none;
    background-color: transparent;
    outline: none;
    vertical-align: middle;
    img {
      fill: #ffb600;
      width: 100%;
      display: inline-block;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__phone {
    margin-top: -5px;
    margin-left: 10px;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    a {
      margin: 8px 0 10px 0;
      font-family: Arial, sans-serif;
      font-size: 40px;
      color: #505F73;
      white-space: nowrap;
    }
    button {
      padding: 0;
      margin-top: 8px;
      margin-left: 4px;
      border: none;
      background: transparent;
      font-family: Arial, sans-serif;
      font-size: 22px;
      color: #ff5c00;
      outline: none;
    }
  }

  &_header {
    margin-top: 30px;
    margin-left: 15px;
  }

  &_footer {
    margin: 2px -16px 18px 0;
    display: inline-block;
    text-align: left;
    p {
      font-weight: bold;
    }
  }

  &_equipment {
    a {
      color: #d67e29;
    }
    button {
      color: #505f73;
    }
  }
  &_sleeves {
    a {
      color: #4477b9;
    }
    button {
      color: #ff5c00;
    }
  }
  &_hydraulic {
    a {
      color: #2d4691;
    }
    button {
      color: #ff5c00;
    }
  }
  &_mechanization {
    a {
      color: #cb5329;
    }
    button {
      color: #516073;
    }
  }
  &_services {
    a {
      color: #717171;
    }
    button {
      color: #ff5f05;
    }
  }
}

@media all and (max-width: 768px) {
  .call-request {
    width: 255px;
    margin: 15px 0 0 0;
    &__icon {
      vertical-align: top;
    }
    &__phone {
      margin: -4px 0 0 6px;
      vertical-align: top;
      a {
        margin: 0 0 3px 0;
        font-size: 25px;
      }
      button {
        margin: 0;
        font-size: 17px;
      }
    }
    &_header {
      .call-request__icon {
        width: 48px;
      }
      .call-request__phone {
      }
    }
    &_footer {
      width: 300px;
      margin: 0 -7px 0 0;
      .call-request__icon {
        width: 61px;
      }
      .call-request__phone {
        a {
          font-size: 32px;
          margin-bottom: 8px;
        }
      }
    }
  }
}

@media all and (max-width: 320px) {
  .call-request {
    width: 36px;
    &__phone {
      display: none;
    }

    &_header {
      margin-top: 5px;
      .call-request__icon {
        pointer-events: auto;
        cursor: pointer;
        width: 36px;
      }
    }

    &_footer {
      margin: 0;
      .call-request__icon {
        pointer-events: auto;
        cursor: pointer;
        width: 36px;
      }
    }
  }
}
