.catalog {
  padding: 0 0 37px;
  &__logo {
    white-space: nowrap;
    min-height: 122px;
    display: table;
    img {
      vertical-align: middle;
    }
    p {
      width: calc(~'100% - 115px');
      display: inline-block;
      margin: -3px 0 0 5px;
      font-family: "Arial Narrow", sans-serif;
      font-size: 22px;
      font-weight: bolder;
      text-transform: uppercase;
      color: #717171;
      vertical-align: top;
      white-space: normal;
    }
  }
  &__logo-link {
    display: table-cell;
    vertical-align: middle;
  }
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: calc(~'100% - 442px');
    padding: 0;
    margin: 0;
  }

  &_services {
    .catalog__logo {
      max-width: 400px;
    }
    .catalog__content {
      margin-top: -35px;
    }
  }
}

@media all and (max-width: 320px) {
  .catalog {
    padding-bottom: 45px;
    &__logo {
      width: 92%;
      min-height: 66px;
      margin: 0 auto;
      img {
        width: 50%;
      }
    }
    &__box {
      flex-wrap: wrap;
    }
    &__content {
      display: none;
      width: 100%;
    }
  }
}
