.change-lang {
    display: inline-block;
    font-size: 19px;
    width: 60px;
    a {
        margin: 0;
        display: inline-block;
        font-family: Arial, sans-serif;
        text-transform: uppercase;
        color: #505f73;
    }
    .change-lang__active {
        color: #ff5c00;
    }
}

@media all and (max-width: 768px) {
    .change-lang {
        text-align: center;
        color: transparent;
        white-space: nowrap;
        font-size: 17px;
        a {
            display: none;
            color: #505f73;
        }
        .change-lang__active {
            display: block;
            color: #ff5c00;
        }
    }
}