.contacts-address {
  margin: -8px 0 34px 0;
  font-family: Arial, sans-serif;
  font-size: 17px;
  color: #000000;
  &__name {
    margin: 0 0 8px 0;
    font-family: "Arial Narrow", sans-serif;
    font-size: 21px;
    font-weight: bold;
  }
  p {
    margin: 0 0 5px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  //&__city {
  //}
  //&__house {
  //}
  //&__phone {
  //}
  //&__mail {
  //}
}