.contacts-phones-item {
  padding: 0;
  margin: 0 0 30px 0;
  white-space: nowrap;
  img {
    margin-right: 36px;
    display: inline-block;
  }
  p {
    font-family: Arial, sans-serif;
  }
  &__caption {
    display: inline-block;
    width: calc(~'100% - 160px');
    font-family: Arial, sans-serif;
    vertical-align: top;
    white-space: normal;
  }
  &__title {
    margin: 10px 0 7px 0;
    font-size: 23px;
    font-weight: normal;
  }
  &__phone {
    margin: 0;
    font-size: 16px;

  }
  &__mail {
    margin: 0;
    font-size: 16px;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &_equipment {
    .contacts-phones-item__title {
      color: #d67e29;
    }
  }
  &_sleeves {
    .contacts-phones-item__title {
      color: #4477b9;
    }
  }
  &_mechanization {
    .contacts-phones-item__title {
      color: #ff550e;
    }
  }
  &_hydraulic {
    .contacts-phones-item__title {
      color: #2d4691;
    }
  }
}

//320
@media all and (max-width: 767px) {
  .contacts-phones-item {
    margin-bottom: 5px;
    img {
      width: 54px;
      margin-right: 5px;
    }
    &__caption {
      width: auto;
    }
    &__title {
      margin-top: 0;
      font-size: 10px;
    }
    &__phone {
      margin-bottom: 3px;
      font-size: 9px;
    }
    &__mail {
      font-size: 9px;
    }
  }
}
