.header {
  padding: 20px 0 18px 0;
  margin: 0;
  background-color: #e6e6e6;
}
.header-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


@media all and (max-width: 768px) {
  .header-box {
  }
}


@media all and (max-width: 320px) {
  .header-box {
    align-items: center;
    justify-content: flex-start;
  }
}