@import (inline) "../node_modules/normalize.css/normalize.css";

@import "../plugins/font-awesome-4.7.0/less/font-awesome";

//@import "fonts";

//Общие компоненты
@import "container";

@import "header";
@import "main-nav";
@import "footer";
@import "footer-catalog";
@import "banner";
@import "banner-nav";

@import "logo";
@import "social";
@import "call-request";
@import "search-block";
@import "change-lang";

//Страница индекс
@import "our-advantages-slider";
@import "company-news";
@import "news-sm";
@import "news-item-sm";
@import "about-company-sm";
@import "our-partners-slider";
@import "our-clients-slider";
@import "our-coordinates";

//Главная раздел
@import "division-item";
@import "production-nav";
@import "division-nav";

//Каталог раздел
@import "catalog";
@import "catalogs-content";
@import "catalog-sort";
@import "production-list";
@import "production-item";
@import "production-card";

//О нас страница
@import "about-company";
@import "about-company-nav";
@import "our-history";
@import "our-history-item";
@import "our-advantages";
@import "our-advantages-item";
@import "our-trade-marks";
@import "our-trade-marks-item";
@import "our-partners";
@import "our-partners-item";
@import "excursion";
@import "vacancies";

//Контакты страница
@import "contacts";
@import "contacts-info";
@import "contacts-address";
@import "contacts-phones";
@import "contacts-phones-item";
@import "contacts-map";

a {
    text-decoration: none;
}

a, input, select, button, textarea {
    &:hover {
        cursor: pointer;
    }
}
.wrap {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
