.main-nav {
  background-color: #505f73;
  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
  }
  &__item {
    display: inline-block;
    a {
      padding: 15px 25px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      color: #ffffff;
      text-transform: uppercase;
      display: block;
    }
  }
  &__item_active {
    font-weight: bold;
  }
}