.main-nav {
  background-color: #505f73;
  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
  }
  &__item {
    display: inline-block;
    a {
      padding: 10px 25px;
      font-family: Arial, sans-serif;
      font-size: 20px;
      color: #ffffff;
      text-transform: uppercase;
      display: block;
    }
  }
  &__item_active {
    //font-weight: 800;
    font-family: "Arial Narrow", sans-serif;
    font-weight: bold;
  }

  &_equipment {
    background-color: #d67e29;
  }
  &_sleeves {
    background-color: #4477b9;
  }
  &_hydraulic {
    background-color: #2d4691;
  }
  &_mechanization {
    background-color: #cb5329;
  }
  &_services {
    background-color: #717171;
  }
}
