.news-item {
  margin: 0 0 28px 0;
  &:last-child {
    margin-bottom: 5px;
  }
  &__data {
    display: inline-block;
    width: 160px;
    margin: 0 5px 0 0;
    font-family: Arial, sans-serif;
    font-size: 19px;
    color: #505F73;
    font-weight: bolder;
    vertical-align: top;
  }
  &__content {
    display: inline-block;
    width: calc(~"100% - 170px");
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000000;
  }
  &_sm {
    .news-item__data {
      font-size: 21px;
    }
    .news-item__content {
      font-size: 19px;
    }
  }
}
