.news-page {
  min-height: 81vh;
  padding: 63px 0 40px;
  box-sizing: border-box;
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    //width: calc(~'100% - 442px');
    width: 72.5%;
    padding: 0;
    margin: 0;
  }
}

@media all and (max-width: 320px) {
  .news-page {
    padding: 10px 0 10px 0;
    &__box {
      flex-wrap: wrap;
    }
    &__content {
      width: 100%;
    }
  }
}
