.our-history-item {
  margin-bottom: 25px;
  display: block;
  width: 260px;
  text-align: center;
  &__img {
    margin: 0 auto 5px auto;
  }
  &__text {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #000000;
    line-height: 1.55;
    font-size: 16px;
  }
}

//320
@media all and (max-width: 767px){
  .our-history-item {
    margin-bottom: 13px;
    width: 100%;
    text-align: left;
    &__img {
      margin: 0 5px 0 0;
      width: 78px;
      display: inline-block;
      vertical-align: middle;
    }
    &__text {
      display: inline-block;
      width: calc(~'100% - 90px');
      //vertical-align: middle;
      vertical-align: top;
      font-size: 10px;
    }
  }
}
