.our-trade-marks-item {
  width: calc(~'100% / 3 - 33px');

  &__logo {
    min-height: 110px;
    margin-bottom: 16px;
    display: table;
    span {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &__description {
    p {
      margin: 0 0 17px 0;
      font-family: Arial, sans-serif;
      font-size: 17px;
      color: #000000;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
