.our-advantages-item {
  text-align: center;
  width: calc(~'100%/5 - 5px');
  &__img {
    margin-bottom: 40px;
  }

  &__text {
    line-height: 1.2;
    h3 {
      margin: 0 0 10px 0;
      font-size: 29px;
      color: #505f73;
      font-family: "Arial Narrow", sans-serif;
      font-weight: bold;
    }
    span {
      font-family: Arial, sans-serif;
      font-size: 67px;
      line-height: 0.7;
      font-weight: normal;
      letter-spacing: -2px;
    }
    p {
      margin: 0;
      font-family: Arial, sans-serif;
      font-size: 19px;
      color: #000000;
      line-height: 1.15;
    }
  }
}
