.search-block {
  a {
    font-family: Arial, sans-serif;
    font-size: 19px;
    color: #505F73;
  }
}

.search {
  input {
    padding: 3px 8px 3px 8px;
    outline: none;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
  }
}