.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style-type: none;
  white-space: nowrap;
  li {
    display: inline-block;
  }
  a {
    display: block;
    width: 57px;
    height: 50px;
  }
  &__twitter {
    background: url(../images/social-icons/twitter.png) no-repeat center;
  }
  &__tumblr {
    background: url(../images/social-icons/tumblr.png) no-repeat center;
  }
  &__vk {
    background: url(../images/social-icons/vk.png) no-repeat center;
  }
  &__facebook {
    background: url(../images/social-icons/facebook.png) no-repeat center;
  }
  &__gplus {
    background: url(../images/social-icons/gplus.png) no-repeat center;
  }
  &__insta {
    background: url(../images/social-icons/insta.png) no-repeat center;
  }
  &__youtube {
    background: url(../images/social-icons/youtube.png) no-repeat center;
  }
  &__whatsapp {
    background: url(../images/social-icons/whatsApp.png) no-repeat center;
  }
}