.vacancies {
  padding: 38px 0 24px 0;
  &__title {
    margin: 0 0 4px 0;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    p {
      position: relative;
      width: calc(~"100% - 202px");
      background-color: #505f73;
      padding: 7px 25px 7px 65px;
      font-size: 37px;
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      &::before {
        content: '';
        border: 28px solid transparent;
        border-left: 16px solid #ffffff;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    img {
      display: inline-block;
      margin: 0 5px 0 0;
      vertical-align: middle;
    }
  }

  &__list {
    padding: 0;
    width: 76.5%;
    margin: 0 auto;
    list-style-type: none;
    box-sizing: border-box;
    li {
      margin-bottom: 4px;
      font-family: Arial, sans-serif;
      font-size: 19px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      color: #505F73;
    }
  }
}

@media all and (max-width: 320px) {
  .vacancies {
    &__title {
      margin: 0 0 3px 0;
      p {
        width: calc(~"100% - 130px");
        padding: 7px 25px 7px 33px;
        font-size: 13px;
        &::before {
          border: 14px solid transparent;
          border-left: 8px solid #ffffff;
        }
      }
      img {
        width: 56px;
        margin: 0;
      }
    }
    &__list {
      width: 100%;
      padding-left: 59px;
      li {
        margin-bottom: 9px;
        font-family: Arial, sans-serif;
        font-size: 10px;
      }
    }
  }
}